<!DOCTYPE html>
<html lang="cz">
  <head>
    <meta charset="utf-8">
    <title>Sreality Flats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <div class="wrapper">
        {% for post in posts %}
        <div class="flat">
          <div class="flat_title">
            <h2>{{ post.title }}<h2>
          </div>
          <div class="flat_image-url">
            <img src="{{ post.image_url }}" alt="Flat{{loop.index}}">
          </div>
        </div>
        {% endfor %}
    </div>
  </body>
</html>
